{% extends 'base.html' %} <!-- шаблон -->

{% block title %}
Инструкция
{% endblock %}

{% block body %}
<div class="container">
    <h1>Инструкция</h1>
    <div class="mt-3">
        <h3>Информация о главной странице</h3>
        <p>На странице "Главная" находится короткая информация о базе данных:</p>
        <ul>
        - количество компаний в БД;
        </ul>
        <ul>
        - количество уникальных регионов расположения компаний;
        </ul>
        <ul>
        - последняя дата добавления информации (в случае отсутствия данных отображается "--.--.----").
        </ul>

        <h3>Добавление данных</h3>
        <p>В меню сайта (вверху, справа) находится кнопка "Добавить".</p>
        <ul>
            1. Нажимаем кнопку "Добавить";
        </ul>
        <ul>
            2. Вводим данные в поля.<br>
             В полях представлены образцы ввода данных. Числа могут содержать до 8-ми разрядов.
        </ul>
        <ul>
            3. Нажимаем кнопку "Добавить".
        </ul>

        <h3>Просмотр данных</h3>
        <p>В меню сайта (вверху, справа) находится кнопка "Данные".</p>
        <ul>
            1. Нажимаем кнопку "Данные";
        </ul>
        <ul>
            2. Открывается страница с карточками компаний.<br>
            Здесь можно просмотреть краткую информацию:
            <ul>
                - название компании;
            </ul>
            <ul>
                - дата добавления записи.
            </ul>

            Кнопка подробнее позволяет просмотреть и отредактировать информацию о компании.

        </ul>

        <h3>Изменение данных</h3>
        <p>При просмотре данных можно заметить кнопку "Подробнее". Она позволяет узнать более подробную информацию
            о компании, а также позволяет редактировать информацию о ней.</p>
        <ul>
            1. Нажимаем кнопку "Подробнее";
        </ul>
        <ul>
            2. Нажимаем кнопку "Редактирование";
        </ul>
        <ul>
            3. Вводим новую информацию в поля;
        </ul>
        <ul>
            4. Нажимаем кнопку "Обновить".
        </ul>

        <h3>Создание запроса</h3>
        <p>На синем фоне под надписью "Стратегия контрактования" находится кнопка "Создать запрос".</p>
        <p>Такая же кнопка есть в правом верхнем углу (выделена рамкой).</p>
        <p>Последовательность действий:</p>
            <ul>
            1. Нажать на кнопку "Создать запрос";
            </ul>
            <ul>
            2. Ввести данные в поля.<br>
                По-умолчанию дата выставлена текущего дня. В полях представлены образцы ввода данных.
                Числа могут содержать до 8-ми разрядов.
            </ul>
            <ul>
            3. Нажать кнопку "Запросить";
            </ul>
            <ul>
            4. Справа (на ПК) или снизу (на телефоне) отобразятся результаты работы приложения:
                <ul>
                   - таблица сочетаний компаний;
                </ul>
                <ul>
                    - диаграмма Ганта с примерным графиком работ.
                </ul>
            </ul>

    </div>

</div>
{% endblock %}