{% extends 'base.html' %}

{% block title %}
Добавление компании
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление компании</h1><br>
    <form method="post">
        <label for="name" class="form-label" >Введите название компании</label>
        <div class="col-sm-7 mb-3">
            <input type="text" name="name" id="name" class="form-control" placeholder="КА1" required>
        </div>

        <label for="free_d_rig" class="form-label" >Введите количество свободных БУ</label>
        <div class="col-sm-2 mb-3" >
            <input type="text" name="free_d_rig" id="free_d_rig" class="form-control" placeholder="4" required pattern="[0-9]{1,8}">
        </div>

        <label for="region" class="form-label" >Введите домашний регион компании</label>
        <div class="col-sm-7 mb-3">
            <input type="text" name="region" id="region" class="form-control" placeholder="ХМАО" required>
        </div>

        <label for="work_type" class="form-label" >Введите выполняемый тип работ</label>
        <div class="col-sm-7 mb-3">
            <input type="text" name="work_type" id="work_type" class="form-control" placeholder="под ключ / раздельный сервис" required>
        </div>

        <label for="inn" class="form-label" >Введите ИНН компании</label>
        <div class="col-sm-7 mb-3">
            <input type="text" name="inn" id="inn" class="form-control" placeholder="3525379466" required pattern="[0-9]{1,15}">
        </div>

        <input type="submit" class="btn btn-success btn-rounded" value="Добавить">
    </form>
</div>
{% endblock %}