{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
  <main>
    <div class="row">
      <div class="bg-image rounded col-xl-9 col-12 mt-3" style="background-image: url('{{url_for('static', filename='/Pictures/Back_photo.jpg')}}'); ">
        <section class="py-5 text-center container">
          <img src="{{url_for('static', filename='/Pictures/Logo_app_white.png')}}" class="rounded mx-auto d-block" alt="logo" style="height: 8vh;">
          <div class="row py-lg-3">
            <div class="col-lg-6 col-md-7 mx-auto" >
              <h1 class="text-white display-3 fw-bold ">Стратегия контрактования</h1>
              <p class="text-white-50 fw-normal mb-3 ">Подготовлено командой "Ложка нефти"</p>
              <p>
                <a href="/request" class="btn btn-light btn-rounded">Создать запрос</a><br>
                <!--<a href="#" class="btn btn-outline-light btn-rounded my-2 ">none</a>-->
              </p>
            </div>
          </div>
        </section>
      </div>

      <div class="col-xl-3 col-12 mt-3 ">
        <div class="card bg-dark " >
          <div class="card-content">
            <div class="card-body ">
              <div class="media d-flex">
                <div class="media-body text-left align-self-center">
                  <span style="font-size: xxx-large; ">
                        {{companies}}
                  </span>
                  <span style="font-size: x-large; ">
                          компан{{end_comp}}
                  </span>
                </div>
                <div class="align-self-center">
                  <img src="{{url_for('static', filename='/Pictures/ico_companies_2.png')}}" class="icon-user success font-large-2 float-right">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3 bg-dark" >
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left align-self-center">
                  <span style="font-size: xxx-large; ">
                    {{regions}}
                  </span>
                  <span style="font-size: x-large; ">
                    регион{{end_reg}}
                  </span>
                </div>
                <div class="align-self-center">
                  <img src="{{url_for('static', filename='/Pictures/ico_location.png')}}" class="icon-user success font-large-2 float-right">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3 bg-dark" >
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left align-self-center">
                  <span style="font-size: x-large; ">
                    {% if companies == 0 %}
                      --.--.---- <br>
                    {% else %}
                      {{last_date}}<br>
                    {% endif %}
                  </span>
                  <span style="font-size: large; ">
                    Последнее обновление
                  </span>
                </div>
                <div class="align-self-center">
                  <img src="{{url_for('static', filename='/Pictures/ico_calendar.png')}}" class="icon-user success font-large-2 float-right">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
</div>


{% endblock %}