{% extends 'base.html' %}

{% block title %}
Форма запроса
{% endblock %}

{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-5">
            <h1>Форма запроса</h1>
            <form method="post">
                <div class="col mb-3" style="width: 12rem;">
                    <div>
                       <label for="theDate" class="form-label" >Дата начала проекта:</label>
                       <input type="date" id="theDate" class="form-control" name="theDate" >
                       <span class="validity"></span></div>
                </div>
                <div class="col mb-3" >
                    <div class="form-check">
                      <input class="form-check-input" name="check_auto" type="checkbox" value="" id="check_auto" checked/>
                      <label class="form-check-label" for="check_auto" >Автономность проекта</label>
                    </div>
                </div>

                <div class="col mb-3" >
                      <label for="prj_region" class="form-label" >Регион проекта:</label>
                      <input type="text" name="prj_region" id="prj_region" class="form-control" placeholder="ХМАО" value="{{prj_region}}" required style="max-width: 20rem;">
                </div>
                <div class="col mb-3">
                      <label for="prj_full_d_rig" class="form-label" >Количество скважин за весь проект:</label>
                      <input type="text" name="prj_full_d_rig" id="prj_full_d_rig" class="form-control" placeholder="1" value="{{prj_full_d_rig}}" pattern="[0-9]{1,8}"  style="max-width: 10rem;">
                </div>
                <div class="col mb-3">
                      <label for="prj_d_rig" class="form-label" >Количество скважин в год:</label>
                      <input type="text" name="prj_d_rig" id="prj_d_rig" class="form-control" placeholder="1" value="{{prj_d_rig}}" required pattern="[0-9]{1,8}"  style="max-width: 10rem;">
                </div>
                <div class="col mb-3">
                      <label for="d_1_bur" class="form-label" >Время бурения 1-ой скважины (дни):</label>
                      <input type="text" name="d_1_bur" id="d_1_bur" class="form-control" placeholder="150" value="{{d_1_bur}}" required pattern="[0-9]{1,8}"  style="max-width: 10rem;">
                </div>
                <div class="col mb-3">
                      <label for="d_tr_kust" class="form-label" >Время перевозки на другой куст (дни):</label>
                      <input type="text" name="d_tr_kust" id="d_tr_kust" class="form-control" placeholder="45" value="{{d_tr_kust}}" required pattern="[0-9]{1,8}"  style="max-width: 10rem;">
                </div>
                <div class="col mb-3">
                      <label for="d_tr" class="form-label" >Время перевозки на место в ДО (дни):</label>
                      <input type="text" name="d_tr" id="d_tr" class="form-control" placeholder="80" value="{{d_tr}}" required pattern="[0-9]{1,8}"  style="max-width: 10rem;">
                </div>
                <div class="col mb-3" >
                      <label for="w_type" class="form-label" >Тип работ:</label>
                      <input type="text" name="w_type" id="w_type" class="form-control" placeholder="раздельный сервис" value="{{w_type}}" required style="max-width: 20rem;">
                </div>

                <div class="col mb-3">
                    <input type="submit" class="btn btn-dark" value="Запросить">
                </div>
            </form>
        </div>
        <div class="col-sm-7">
            <h3 style="color:#8b0000"><b>{{mistake}}</b></h3>
            {% if tables | length > 0 %}
                <h1>Результаты </h1>
            {% endif %}

            {% for table in tables %}
                {% if titles[loop.index] == "Таблица" %}
                    <p>{{titles[loop.index]}} включает в себя <b>{{counter}} комбинаций</b> для получения {{ prj_d_rig }} БУ</p>
                {% else %}
                    <p>{{titles[loop.index]}}</p>
                {% endif %}

                {{ table|safe }}
            {% endfor %}



            {% if tables | length > 0 %}
            <i>* не включена самостоятельная закупка или аренда у альтернативных поставщиков</i>

            <div class="click-zoom mt-4">
            <h1>Примерный план проекта</h1>
            <label>
                <input type="checkbox">
                <img src="{{ url_for('static', filename='Diagramms/gantt1.png') }}" class="img-fluid" id="gant" />
            </label>
            </div>
            {% endif %}

        </div>
    </div>



</div>

<script type="text/javascript">

    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;


    document.getElementById('theDate').value = today;
</script>
{% endblock %}