#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;

}


/* Почта */
a[href^="mailto:"] {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}


/* Рамки таблицы */
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

/* Таблица - заголовки и нумерация */
.pair th {
    background-color: #3d5486;
    color: white;
}
.sum_counts th {
    background-color: #3d5486;
    color: white;
}

/* Строки в таблице */
tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }
tr:hover            { background-color: #ffff99;}


/* Карточки с данными на главной странице */
.card-body{
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  min-height:1px;
  padding:1.25rem;
}

.card-title{
  margin-bottom:.75rem
}

.card-subtitle{
  margin-top:-.375rem;
  margin-bottom:0
}

.media-body{
  -ms-flex:1;
  flex:1;
  color: rgb(255, 255, 255)
}

.media-body2{
  -ms-flex:1;
  flex:1;
  color: rgb(0, 0, 0)
}

.align-self-center{
  -ms-flex-item-align:center!important;
  align-self:center!important
}


/* ZOOM */
.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  transition: transform 0.2s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out
}